<h1>Bienvenido al area secreta</h1>
<div><button class="logout" onclick="logout()">Cerrar sesión</button></div>

<script>
    function logout() {
    // Clear the session cookie
    document.cookie = "session=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";

    // Redirect to the login page
    window.location.href = "/login";
    }
</script>